* {
    margin:0;
    padding:0;
}
body {
    background-color: #000;
}

main {
    background-image:url('../imgs/bg.jpg');
    background-repeat:repeat;
    background-size:cover;
    background-position:center;
    position:absolute;
    width:100%;
    height:100%;
}

main:after{
    background-color:rgba(0, 0, 0, 0.68);
    content:'';
    height:100%;
    left:0;
    position:relative;
    top:0;
    width:100%;
}
.form {
    align-items: center;
    text-align: center;
    padding: 12%;
    margin-top: auto;
}

.text{
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 40px;
}

.input{
    width: 200px;
    height: 30px;
    padding-top: 10px;
    font-size: 40px;
    text-align: center;
}

.header {
    float:left;
    position: relative;
    padding: 15px 0;
    width:100%;
    z-index: 9;
}
.header__title {
    color:White;
    font-family:'arial',sans-serif;
    font-size:40px;
    text-shadow:2px 2px #000000;
    text-align: center;
}

.button{
    padding: 0px;
    margin-top: 20px;
    width: 80px;
    height: 25px;
    text-align: center;
}

.Nsorteado{
    color:White;
    font-family:'arial',sans-serif;
    font-size:40px;
    padding: 5px;
    text-shadow:2px 2px #000000;
    text-align: center;
}

footer{
    padding: 30px;
    color: aliceblue;
    text-align: center;
}

@media only screen and (max-width: 480px) {

    main {
        background-image:url('../imgs/bg_cell.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center;
        position:absolute;
        width:100%;
        height:100%;
    }

    .header-movies__title {
        opacity: 0;
        color:rgb(255, 255, 255);
        text-align: center;
    }

    footer{
        align-items: baseline;
        color: aliceblue;
        text-align: center;
        margin-top: 40px;
        padding: 5px;
        background-color: #000;

    }

    .Nsorteado{
        color:White;
        font-family:'arial',sans-serif;
        font-size: 25px;
        padding: 5px;
        text-shadow:2px 2px #000000;
        text-align: center;
    }
}